{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Welcome to Celby!!</h1>
    <hr/>
    <img class="col-4" src="/static/seal_celby.png" alt="My image">
    <hr/>
    <h2>What does Celby do?</h2>
    <p>Celby lets you search for celebrations all over the world in any given city or on any given day, so that you always have a reason to celebrate! Celby's aim is to bring joy (and cake) on any given day, or suprise you with a celebration that you had no idea about.</p>
    <h2>Inspiration:</h2>
    <p>The news is often so boring and sad that it could be renamed "The depressing facts." Taking inspiration from <a href="https://www.thehappybroadcast.com/">"The Happy Broadcast"</a> - which sends out happy news every day.</p>
{% endblock %}
