{% extends "layout.html" %}

{% block title %}
    $tock50
{% endblock %}


{% block main %}
    <h1>Well hi there, {{name}}!</h1>
    {% if not wishes %}
    <h2>Oops, nothing in your wishlist!</h2>
    <a class="btn btn-success" href="/browse">Go to Browse!</a>
    {% else %}
    <h2>Let's check out your wishlist:</h2>
    <!--<h3>Wow, you have ${{cash}} in your virtual wallet!</h3>-->
            <table class="table table-striped table-dark table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Learn More</th>
                <th>No-Wishlist</th>
            </tr>
            {% for wish in wishes %}
            <tr>
                <td>{{wish['name']}}</td>
                <td>{{wish['date']}}</td>
                <td>{{wish['short_description']}}</td>
                <td><a class="btn btn-primary" href="/event/{{wish['id_event']}}">Learn More</a></td>
                <td><a class="btn btn-warning" href="/wishlist/remove/{{wish['id_event']}}" > Remove from Wishlist</a></td>
            </tr>
            {% endfor %}

        </table>
        {% endif %}

{% endblock %}